* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #111;
    display: flex;
    align-items: center;
    padding-left: 40px;
    z-index: 1000;
}

nav a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

section{
    min-height: 100vh;
    padding: 120px 60px;
    border-bottom: 6px solid white;
}

.portada{
    background-color: #13200c;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quienes{
    background-color: #253719;
}

.ofrecemos{
    background-color: #425530;
}

.impacto{
    background-color: #697e50;
    padding-bottom: 50px;
}

.contacto{
    background-color: #8fa377;
}

@font-face{
    font-family: 'Protest';
    src: url('Protest.otf') format('truetype');
}

.titulo-principal{
  font-family: 'Protest', sans-serif;
  font-size: 6rem;
  margin-bottom: 20px;
  color: white;
}

.titulo{
    font-family: 'Protest', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 60px;
    color: white;
}

@font-face{
  font-family: 'Vintage';
  src: url('Vintage.otf') format('truetype');
}

.Eslogan{
  font-family: 'Vintage', sans-serif;
  font-size: 3rem;
  margin-top: 5px;
}

.contenido{
    display: flex;
    align-items: center;
    gap: 40px;
}

.invertido{
    flex-direction: row-reverse;
}

.texto{
    flex: 1;
    text-align: left; 
    font-family: 'Vintage', sans-serif;
    font-size: 2rem;
    color: white;
}

.imagen{
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagen img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#contacto{
    text-align: center;
}

.info-contacto{
    font-family: 'Vintage', sans-serif;
    font-size: 3rem;
    color: white;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .contenido{
        flex-direction: column;
        text-align: center;
    }
    .texto{
        text-align: center;
    }
}

